<div>
    <button onclick="route('home')" class="align-items-center">
        <img src="../../assets/icons/home.svg" alt="">
        <p>Home</p>
    </button>
    <button onclick="route('notificacoes')" class="align-items-center">
        <img src="../../assets/icons/notificacoes.svg" alt="">
        <p>Notificações</p>
    </button>
    <button onclick="route('mensagens')" class="align-items-center">
        <img src="../../assets/icons/mensagens.svg" alt="">
        <p>Mensagens</p>
    </button>
    <button onclick="route('menu')" class="align-items-center">
        <img src="../../assets/icons/menu.svg" alt="">
        <p>Menu</p>
    </button>
</div>