/* tema */
@import "../../../assets/css/theme.css";

/* header */
@import url('../../../components/Header/css/style.css');

/* menu */
@import url('../../../components/Menu/css/style.css');

/* cards */
@import url('../../../components/CardVagaSolicitacaoLocador/css/style.css');
@import url('../../../components/CardVagaSolicitacaoLocatario/css/style.css');
@import url('../../../components/CardVagaReservadaLocador/css/style.css');
@import url('../../../components/CardVagaReservadaLocatario/css/style.css');

.card-link button {
    background: none;
    margin: 0 !important;
    display: flex;
    padding: 15px !important;
    color: #4F4F4F !important;
    gap: 20px;
}

.card-link button p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: left;
}
