body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 50px;
}

div {
  margin: 10px;
}

form {
  margin-top: 40px;
}

textarea {
  height: 120px;
}

Footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

.texts {
  font-weight: bold;
}

.container {
  margin-top: 40px;
}

.divForm {
  margin-top: 20px;
}

.input {
  height: 50px;
}

.buttonIcon {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Andale Mono;
  padding-left: 15px;
}

.btn {
  width: 100%;
}
