<div class="card-default">
    <div onclick="route('vaga', {{id}})" class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <p>{{condominio}}</p>
            <p class="ml-auto badge-primary">Locador</p>
        </div>
        <h2>Vaga {{nome}}</h2>
        <p><b>De {{dateTime}}</b></p>
        <p><b>Até {{dataFinalTime}}</b></p>
    </div>
    <div class="card-buttons">
        <button onclick="route('mensagem', {{id}})" class="">
            Enviar Mensagem
        </button>
        <a href="" class="">
            Ligar
        </a>
    </div>
</div>