body {
    height: 100%;
    padding: 90px 0px 156px 0px;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22.4px;
    background-color: #F9F9F9;
    color: #4F4F4F !important;
}

/* container */
.container {
 padding: 0px 30px !important;   
}
/* end container */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #0CA789 !important;
    font-weight: 400 !important;
}

h1 {
    font-size: 56px;
    line-height: 61.6px;
}

h2 {
    font-size: 48px;
    line-height: 52.8px;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 32px;
    line-height: 35.2px;
}

h5 {
    font-size: 24px;
    line-height: 26.4px;
}

h6 {
    font-size: 20px;
    line-height: 22px;
}

a {
    color: #0CA789 !important;
    text-decoration: none !important;
    font-weight: 700;
}

/* end fonts */

/* form */

label {
    margin-top: 24px;
    font-weight: 700;
    color: #4F4F4F;
}

input, textarea, select {
    border: 1px solid #BDBDBD;
    color: #4F4F4F;
    padding: 16px 24px;
    border-radius: 4px;
    display: block;
    margin-top: 8px !important;
}

form button {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 50vw;
}

/* end form */

/* button */

button {
    background-color: #0CA789;
    border: none;
    border-radius: 4px !important;
    padding: 16px 24px;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    font-weight: 700;
    color: #FFFFFF;
    display: block;
}

button:hover {
    background-color: #087560;
}

/* end button */

/* card */

.card-default {
    border: 1px solid #BDBDBD;
    border-radius: 8px !important;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.card-default .card-body {
    padding: 23px 23px 12px 23px;
}

.card-default .card-buttons {
    border-top: 1px solid #BDBDBD;
}

.card-default .card-buttons a {
    padding: 23px 10px;
    display: inline-block;
    width: 49% !important;
    text-align: center;
}

.card-default .card-buttons a.border-left {
    border-left: 1px solid #BDBDBD;
}

.card-link {
    border: 1px solid #BDBDBD;
    border-radius: 8px !important;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
}

.card-link a {
    display: flex;
    padding: 15px;
    color: #4F4F4F !important;
    gap: 20px;
}

.card-link a p {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

/* end card */

/* badge */

.badge-primary {
    background-color: #087560;
    border-radius: 8px !important;
    padding: 8px;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

.badge-secondary {
    background-color: #4F4F4F;
    border-radius: 8px !important;
    padding: 8px;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

.badge-waiting {
    background-color: #E2B93B;
    border-radius: 8px !important;
    padding: 8px;
    font-size: 10px;
    font-weight: 700;
    color: #FFFFFF;
}

/* end badge */
