body {
  
    height: 100%;
    padding-bottom: 50px;

}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22.4px;
}

h1, h2, h3, h4, h5, h6 {
    color: #0CA789;
}

h1 {
    font-size: 56px;
    line-height: 61.6px;
}

h2 {
    font-size: 48px;
    line-height: 52.8px;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 32px;
    line-height: 35.2px;
}

h5 {
    font-size: 24px;
    line-height: 26.4px;
}

h6 {
    font-size: 20px;
    line-height: 22px;
}

a {
    color: #0CA789 !important;
    text-decoration: none !important;
    font-weight: 700;
}

/* end fonts */

/* form */

label {
    margin-top: 24px;
    font-weight: 700;
    color: #4F4F4F;
}

input, textarea {
    border: 1px solid #BDBDBD;
    color: #4F4F4F;
    padding: 16px 24px;
    border-radius: 4px;
    display: block;
    margin-top: 8px !important;
}

form button {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 50vw;
}

/* end form */

/* button */

button {
    background-color: #0CA789;
    border: none;
    border-radius: 4px !important;
    padding: 16px 24px;
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    font-weight: 700;
    color: #FFFFFF;
    display: block;
}

button:hover {
    background-color: #087560;
}

/* end button */