<div class="card-default">
    <div onclick="route('vaga', {{id}})" class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <p>{{condominio}}</p>
            <p class="ml-auto badge-secondary">Locatário</p>
        </div>
        <h2>Vaga {{nome}}</h2>
        <p><b>De {{dateTime}}</b></p>
        <p><b>Até {{dataFinalTime}}</b></p>
    </div>
    <div class="card-buttons">
        <button onclick="atualizarStatus('livre', {{id}})" class="recusar">
            Recusar
        </button>
        <button onclick="atualizarStatus('reservado', {{id}})" class="aprovar">
            Aprovar
        </button>
    </div>
</div>