body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 90px;
}

p {
  margin: 0 !important;
}

b {
  color: rgb(0, 106, 255);
}

.green {
  color: rgba(0, 161, 97, 0.678);
  font-weight: bold;
}

.texts {
  font-weight: bold;
}

.container {
  margin-top: 10px;
}

.notificationCard {
  display: flex;
  flex-direction: row;
  background-color: rgba(212, 212, 212, 0.685);
  padding: 10px;
}

.proposalCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #acacac;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.proposalCardItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.proposalCardItemIcon {
  margin-right: 15px;
}

.line {
  background-color: rgba(0, 161, 97, 0.678);
  height: 3px;
}

.buttons {
  margin-top: 20px;
  width: 100%;
}

.buttonMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Andale Mono;
  background-color: rgba(0, 153, 255, 0.867);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
}

.confirmed {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Andale Mono;
  background-color: rgba(0, 151, 88, 0.867);
  color: rgb(255, 255, 255);
  width: 45%;
  height: 40px;
  margin-top: 15px;
}

.cancel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: Andale Mono;
  background-color: rgba(255, 0, 76, 0.867);
  color: rgb(255, 255, 255);
  width: 45%;
  height: 40px;
  right: 0;
  margin-top: 15px;
}

.confirmRow {
  position: relative;
  display: flex;
  flex-direction: row;
}

.confirmText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
